<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<title>Redneck Cruises Incorporated</title>
</head>
<body>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Welcome to Redneck Cruises Inc!</h1>
    <p class="lead">Now offering unlimited PBR, catfish noodlin & Florida Georgia Line</p>
    <img src="{{url_for('static',filename='redneckparty.jpg')}}" height= 600px>
    <p>See what we got to offer</p>
    <a class="btn btn-primary btn-lg" href="page2.html" role="button">Our Ships</a>
    <a class="btn btn-primary btn-lg" href="page3.html" role="button">The Crew</a>
    <a class="btn btn-primary btn-lg" href="page4.html" role="button">Deparature/Arrival Times</a>
  </div>
</div>
</body>
</html>
