<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Arrivals/Departures</title>
<link rel="stylesheet" href="{{url_for('static',filename='tablestyle.css')}}"></link>
</head>
<body>
<table>
<tr>
<th>Cruise Id</th>
<th>Origin</th>
<th>Destination</th>
<th>Departure Time</th>
<th>Arrival Time</th>
<th>Return Time</th>
</tr>
{% for cruise in cruises %}
<tr>
<td>{{cruise.id}}</td>
<td> {{cruise.origin}}</td>
<td> {{cruise.destination}}</td>
<td> {{cruise.departure}}</td>
<td> {{cruise.arrival}}</td>
<td> {{cruise.return}}</td>
</tr>
{% endfor %}
</table>
</body>
</html>
